<div class="jumbotrom mt-4">
<h1 class="display-4">Notes app Nodejs and  Mongodb</h1>
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, excepturi!</p>
<hr class="my-4">
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis dolor quasi eos est, atque dolores!</p>
<a href="http://google.com" class="btn btn-primary btn-lg">Ir a google</a>
</div>